<h1 class="title has-text-centered">Enter Prescription ID or Click QR Code to Scan</h1>
<div class="box" style="margin:0 auto;height:300px;width:70%">
    <div class="box" style="width:50%;float:left">
        <!-- insert caption , utilizing forms module-->
        <div class="field">

        </div>
        <input id="theInput" type="text" class="input" placeholder="Enter ID"/>
        <div class="field">

        </div>

        <a id="searchSubmit" class="button is-success">Search</a>
    </div>
    <div id="videoDiv" class="box" style="float:right">
        <img id="qrImage" src="https://d30y9cdsu7xlg0.cloudfront.net/png/138360-200.png" style="display:block;margin-left: auto;margin-right: auto;"/> 
    </div>
</div>

<script>
    // QR Code Scanning  
    //new QRCode(document.getElementById("videoDiv"), "this is a test QR Code");
    $("#qrImage").on('click', function() {
        $("#qrImage").remove();
        $("#videoDiv").append("<video id='preview'></video>");
        let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
        scanner.addListener('scan', function (content) {
          console.log(content);
          // Make request to server
          $.getJSON(
              // QR Code value designed specific to application...maybe pad with arbitrary data??
              location.href + content,
              // Response Obj
              function(data) {
                if(data["status"] === "fail") {
                    console.log("ID doesn't exist");
                } else {
                    location.replace(location.href + "prescriptions/view/" + data["value"]);
                }
              }
          );
        });
        Instascan.Camera.getCameras().then(function (cameras) {
          if (cameras.length > 0) {
            scanner.start(cameras[0]);
          } else {
            console.error('No cameras found.');
          }
        }).catch(function (e) {
          console.error(e);
        });
    });

    $("#searchSubmit").on('click', function() {
        // Retrive input, trim first and convert into a number
        initialValue = $("#theInput").val();
        let inputValue = Number(initialValue);
        console.log("Value of input was " + inputValue);

        // Check if the number is actually a number...
        if(!isNaN(inputValue)) {
            console.log("In here");
            // Fetch from the server
            $.getJSON(
                
                "/prescriptions/" + inputValue,
                function(data) {
                    console.log(data);
                    if(data["status"] === "fail") {
                        console.log("ID doesn't exist");
                    } else {
                        location.replace(location.href + "prescriptions/view/" + inputValue);
                    }
                }
            );
        }
    });

</script>