<!--h1 class="title has-text-centered"></h1-->
<div class="box" style="margin:0 auto;height:300px;width:70%">
    <div class="box" style="width:50%;float:left">
        <!-- insert caption , utilizing forms module-->
        <div class="field">

        </div>
        <input type="text" class="input" placeholder="Enter ID"/>
        <div class="field">

        </div>

        <a class="button is-success">Search</a>
    </div>
    <div class="box" style="float:right">
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/138360-200.png" style="display:block;margin-left: auto;margin-right: auto;"/>
    </div>
</div>